.logo {
  display: flex;
  justify-content: center;

  &-inner {
    margin: 0;
  }

  &-link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    &:focus {
      outline: none;
    }
  }

  &-value {
    font: 66px/1 $primary-font-bold;
    text-transform: lowercase;
    color: #fff;
    padding-left: 30px;

    @include gateway(45, 66, 1400);

    &__decor {
      font-family: $chiller-regular;
    }
  }

  &__image {
    min-width: 66px;
  }

  @include breakpoint($laptopX) {
    margin-bottom: 20px;

    &-value {
      padding-left: 10px;

    }
  }
}