.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  &-row {
    display: flex;
    position: relative;
    padding-bottom: 17px;

    &::after {
      content: '';
      display: block;
      background-color: #fdc75f;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  &-col {
    display: flex;
    align-items: flex-end;
  }

  &-inner {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }

  .btn {
    min-width: 215px;
    padding:  18px 9px 18px 56px;
    position: relative;

    &::before {
      content: '';
      background-image: url(../images/banner-icon.png);
      background-position-y: -330px;
      width: 29px;
      height: 22px;
      display: block;
      position: absolute;
      top: 50%;
      left: 23px;
      transform: translateY(-50%);
    }

  }
}
